@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Fonts */
    /*

     font-[var(--font-lato)]
     font-[var(--font-italy)]
     font-[var(--font-fira)]

    */

/* Colors */
    /*

    text-[var(--color-primary)]
    text-[var(--color-secondary)]
    text-[var(--color-accent)]

    */


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
